.page {
  .banner {
    width: 100%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
    opacity: 0.8;
  }

  .order-card-wrap {
    padding: 18px 16px;
  }
}
